<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<configSections>
		</configSections>
		<connectionStrings>
				<add name="Models.Properties.Settings.miniurlConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\miniurl.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
				<add name="Models.Properties.Settings.miniurlConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\svn\codeplex\miniurl\src\VS2008\Web\App_Data\miniurl.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>